html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: "Space Mono";
    src: url("Space_Mono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: 700, 700, 700;
}

p {
    font-size: 16px;
    line-height: 100%;
    font-family: "Space Mono";
}

input {
    font-size: 16px;
    line-height: 100%;
    font-family: "Space Mono";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
textarea:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

#logo {
    width: 40%;
    height: 50%;
    display: flex;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 35%;
}

#dollar_sign {
    width: 20%;
    height: 50%;
    display: flex;
    margin: 0;
    position: absolute;
    top: 26%;
    left: 15%;
}

#icon_person {
    width: 20%;
    height: 50%;
    display: flex;
    margin: 0;
    position: absolute;
    top: 26%;
    left: 15%;
}

.dollar_sign_div {
    width: 10%;
    height: 10%;
    background-color: hsl(189, 41%, 97%);
    position: absolute;
    top: 13%;
    left: 4%;
    display: flex;
    border-radius: 10px;
}

.icon_person_div {
    width: 10%;
    height: 10%;
    background-color: hsl(189, 41%, 97%);
    position: absolute;
    top: 81%;
    left: 4%;
    display: flex;
    border-radius: 10px;
}

.container0 {
    width: 10%;
    height: 10%;
    background-color: hsl(185, 41%, 84%);
    position: absolute;
    top: 10%;
    left: 45%;
    margin: -25px 0 0 -25px;
    display: flex;
    border-radius: 20px;
}

.container1 {
    width: 55%;
    height: 60%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 23%;
    left: 24%;
    margin: -25px 0 0 -25px;
    display: flex;
    border-radius: 20px;
}

.container2 {
    width: 47%;
    height: 87%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 7%;
    left: 48%;
    display: flex;
    border-radius: 20px;
}

.bill_div_title {
    width: 40%;
    height: 10%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 3.5%;
    left: 4%;
    display: flex;
    border-radius: 10px;
}

.bill_div {
    width: 40%;
    height: 10%;
    background-color: hsl(189, 41%, 97%);
    position: absolute;
    top: 13%;
    left: 4%;
    display: flex;
    border-radius: 10px;
    text-align: right;
}

.number_of_people_title {
    width: 40%;
    height: 10%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 70%;
    left: 4%;
    display: flex;
    border-radius: 10px;
}

.num_people_div {
    width: 40%;
    height: 10%;
    background-color: hsl(189, 41%, 97%);
    position: absolute;
    top: 81%;
    left: 4%;
    display: flex;
    border-radius: 10px;
    text-align: right;
}

.tip_title {
    width: 40%;
    height: 10%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 29%;
    left: 4%;
    display: flex;
    border-radius: 10px;
}

.five_percent {
    width: 12%;
    height: 10%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 40%;
    left: 4%;
    display: flex;
    border-radius: 10px;
}

.ten_percent {
    width: 12%;
    height: 10%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 40%;
    left: 18%;
    display: flex;
    border-radius: 10px;
}

.fifteen_percent {
    width: 12%;
    height: 10%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 40%;
    left: 32%;
    display: flex;
    border-radius: 10px;
}

.twenty_percent {
    width: 12%;
    height: 10%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 55%;
    left: 4%;
    display: flex;
    border-radius: 10px;
}

.fifty_percent {
    width: 12%;
    height: 10%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 55%;
    left: 18%;
    display: flex;
    border-radius: 10px;
}

.five_percent:active,
.ten_percent:active,
.fifteen_percent:active,
.twenty_percent:active,
.fifty_percent:active {
    background-color: hsl(172, 67%, 45%);
}

.custom_percent {
    width: 11.5%;
    height: 9.5%;
    background-color: hsl(189, 41%, 97%);
    position: absolute;
    top: 55%;
    left: 32%;
    display: flex;
    border-radius: 10px;
    border: 0px;
}

.tip_amount_per_person {
    width: 40%;
    height: 15%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 10%;
    left: 8%;
    display: flex;
    border-radius: 10px;
}

.tip_amount_per_person_price {
    width: 40%;
    height: 15%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 10%;
    left: 55%;
    display: flex;
    border-radius: 10px;
}

.total_amount_per_person {
    width: 40%;
    height: 15%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 30%;
    left: 8%;
    display: flex;
    border-radius: 10px;
}

.per_person0 {
    width: 40%;
    height: 12%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 20%;
    left: 8%;
    display: flex;
    border-radius: 10px;
}

.per_person1 {
    width: 40%;
    height: 15%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 39%;
    left: 8%;
    display: flex;
    border-radius: 10px;
}

.total_amount_per_person_price {
    width: 40%;
    height: 15%;
    background-color: hsl(183, 100%, 15%);
    position: absolute;
    top: 30%;
    left: 55%;
    display: flex;
    border-radius: 10px;
}

.reset {
    width: 80%;
    height: 10%;
    background-color: hsl(172, 67%, 45%);
    position: absolute;
    top: 83%;
    left: 10%;
    display: flex;
    border-radius: 10px;
}
